# Environment & Secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# C / Compiled Binaries
*.so
*.o
*.a
build/

# Node / Frontend
node_modules/
dist/
.build/

# IDE / OS
.DS_Store
.vscode/
.idea/
